# data files (e.g. figures, annotations)
data/
*.tiff
*.png
*.jsonl
*.xml
datasetfab/

# model weights
*.onnx
*.m1model
models/
model/

# temp/cache
__pycache__/
.ipynb_checkpoints/
*.py[cod]
.pytest_cache/
tmp/
artifacts/
*.log
*.zip
*.7z
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
test_data/

# config
.vscode/
Makefile.local
.claude

# bak
docs/bak/

# AI Prompts
prompts/
